input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-main;
	border: 1px solid $color__text-light;
	border-radius: 3px;
	padding: 6px;
	text-indent: 5px;

	&:focus {
		color: $color__active;
		border: 1px solid $color__active;
	}
}

select {
	border: 1px solid $color__active;
}

textarea {
	width: 100%;
}


.entry-content input {
	width: 100%;
	margin: 0;
}

/*--------------------------------------------------------------
# wpcf7
--------------------------------------------------------------*/

div.wpcf7 {
	max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.wpcf7 input[type="submit"] {
	max-width: 180px;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-mail-sent-ng,
div.wpcf7-aborted,
div.wpcf7-mail-sent-ok {
	margin: 0;
    border: none;
    padding: 0;
}

span.wpcf7-not-valid-tip {
	font-size: 0.8em;
}